<footer class="py-3 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white"> TodoList-App by mvoland : <a href="https://github.com/mvoland/thp-8-3_todolist-app" class="m-0 text-center text-white"> GitHub Project </a></p>
  </div>
</footer>
