<div class="jumbotron jumbotron-fluid bg-secondary my-2 py-3">
  <div class="container">
    <h1 class="display-5 font-weight-bold text-white text-center"> <%= @page_title or "TodoList-App" %></h1>
  </div>
</div>
