<div class="email-details" id="email-<%= email.id %>">
  <div class="email-object">
    <p> <%= email.object %> </p>
  </div>
  <div class="email-body">
    <p> <%= email.body %> </p>
  </div>
  <div class="email-action">
    <button> Supprimer </button>
    <button> Marquer comme lu </button>
    <button> Marquer comme non lu </button>
  </div>
</div>
