<div class="email-details" id="email-details-<%= email.id %>">
  <div class="email-object">
    <p> <%= email.object %> </p>
  </div>
  <div class="email-body">
    <p> <%= email.body %> </p>
  </div>
  <div class="email-controls">
    <%= link_to email_path(email), {method: :delete, remote: remote} do %>
      <button class="delete"> Supprimer </button>
    <% end %>
    <button> Marquer comme lu </button>
    <button> Marquer comme non lu </button>
  </div>
</div>
